#sidebar-left .block-domain_tweets {
  background:transparent none no-repeat scroll 0 0;
  border:none;
}

#sidebar-left .block-domain_tweets  .block-inner {
  background:transparent none no-repeat scroll 0 0;
  border:none;
  padding:0px;
}

#sidebar-left .block-domain_tweets  h2.title {
  background:transparent none no-repeat scroll 0 0;
  border:none;
  color:#444;
  font-size:15px;
  text-indent:12px;
}

/*Override Theme For h2.title */
#sidebar-left .block-domain_tweets h2.title {
  background: none transparent !important;
  border: none 0px !important;
  margin-top: 8px !important;
}  

#sidebar-left .block-domain_tweets .view-display-id-block_1 .view-content {
  background:transparent url(http://cdn.secondspace.com/localnet/twitter-box.gif) no-repeat scroll 0 0;
  height:229px;
  width:196px;
  margin-top:-36px;
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .views-row-1 {
  padding:1em;
}

#sidebar-left #block-domain_tweets-0 {
	padding: 0;
  border-style: none;
	border-width: none;
	background-image: none;
	background: repeat scroll 0 0 #ECE5CD;
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .views-row-1 .views-field-url {
  padding-top:2em;
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .views-row-1 .views-field-title {
  padding-top:2em;
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .views-row-1 .views-field-title abbr.field-content {
  color:#0076a3;
  font-family:arial;
  font-size:12px;
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .views-row-1 .views-field-created abbr.field-content {
  font-size:12px;
  font-style:italic;
  color:#888
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .view-footer .follow-us a {
  background:transparent url(http://cdn.secondspace.com/localnet/twitter-bird.gif) no-repeat scroll 0 0;
  color:#E7E0C3;
  display:block;
  height:81px;
  margin-left:-3px;
  margin-top:-25px;
  width:196px;
  text-align:right;
}

#sidebar-left .block-domain_tweets .view-display-id-block_1 .view-footer .follow-us a:hover {
  background:transparent url(http://cdn.secondspace.com/localnet/twitter-bird-hover.gif) no-repeat scroll 0 0;
  color:#E7E0C3;
  display:block;
  height:81px;
  margin-left:-3px;
  margin-top:-25px;
  width:196px;
  text-align:right;
}

#sidebar-left .block-domain_tweets .stay-connected h2 {
  background-image:url(http://cdn.secondspace.com/localnet/images/double-staple-left.png);
  background-color:#FCEBD7;
  background-position:50% 50%;
  background-repeat:no-repeat;
  border-color:#F3EDDF #AAA496 #AAA496 #F3EDDF;
  border-style:solid;
  border-width:1px;
  color:#444444;
  font-family:Georgia,"Times New Roman","Bitstream Vera Serif",serif;
  font-size:1.4em;
  font-style:italic;
  font-weight:400;
  margin-top:0;
  padding:10px 0;
  text-align:center;
}

#sidebar-left .block-domain_tweets .stay-connected {
  background:#FFFBF0 none repeat scroll 0 0;
  border-color:#D2CCBC #C6C0B2 #C6C0B2 #D2CCBC;
  border-style:solid;
  border-width:1px;
  padding:9px;
  width:182px;
  margin-left:-10px;
}

#sidebar-left .block-domain_tweets .stay-connected li {
  background:transparent url(http://cdn.secondspace.com/localnet/hand-drawn-line.gif) repeat-x scroll center bottom;
  border:none;
  text-indent:30px;
  font-size:15px;
  font-style:italic;
}

#sidebar-left .block-domain_tweets .stay-connected li  a {
  display:block;
  padding:10px;
}

#sidebar-left .block-domain_tweets .stay-connected li.twitter a {
  background:transparent url(http://cdn.secondspace.com/localnet/twitter-glyph.gif) no-repeat scroll left center;
}

#sidebar-left .block-domain_tweets .stay-connected li.RSS a {
  background:transparent url(http://cdn.secondspace.com/localnet/rss-glyph.gif) no-repeat scroll left center;
}

#sidebar-left .block-domain_tweets .stay-connected li.Facebook a {
  background:transparent url(http://cdn.secondspace.com/localnet/facebook-glyph.gif) no-repeat scroll left center;
}

#sidebar-left .block-domain_tweets .stay-connected  ul

